@font-face {
  font-family: "Bungee";
  src: url("./fonts/Bungee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/bg/bg.png');
    background-position: center;
    font-family: "Bungee" , sans-serif;
}

canvas {
    background-color: black;
}